@keyframes fall {
    0% {
      top: 0;
    }
    100% {
      top: 100vh; 
    }
  }

@keyframes glow {
    0% { 
        filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.5)) 
                drop-shadow(0 0 20px rgba(255, 255, 0, 0.7));
      }
      50% { 
        filter: drop-shadow(0 0 40px rgba(255, 255, 0, 1)) 
                drop-shadow(0 0 80px rgba(255, 255, 0, 1));
      }
      100% { 
        filter: drop-shadow(0 0 80px rgba(255, 255, 0, 1)) 
                drop-shadow(0 0 160px rgba(255, 255, 0, 1));
      }
}


.img {
    position: absolute;
    width: auto;
    height: 120px;
    object-fit: contain;
    background: url('/egg.png') no-repeat center / contain;
    animation: fall forwards 3s, glow 1s ease-in-out 1.5s forwards;
  }